:root {
  --bg-color: rgb(0, 0, 0);
  --txt-color: rgb(255, 255, 255);
  --red-color: rgb(71, 14, 14);
  --gray-color: rgb(211, 211, 211);
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: var(--txt-color);
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
html {
  scroll-behavior: smooth;
}
/* Landing page */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
header a {
  margin-right: 10px;
}
h1 {
  text-align: center;
  padding: 10px;
}
#h2-cont {
  text-align: center;
}
#landing-img {
  width: 80vw;
  border-radius: 10px;
}
#cta-main {
  width: 300px;
  height: 100px;
  background-color: var(--red-color);
  border: 2px white solid;
  border-radius: 40px;
  color: var(--txt-color);
  cursor: pointer;
}

/* App */
#title-cont {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
#info-cont {
  display: flex;
  gap: 10px;
}
.swipe-poster {
  width: 40vw;
  border-radius: 20px;
  border: 2px solid honeydew;
}
/* #movie-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.poster-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.poster-cont button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
}

/* Test my shit */

#swipe-cont {
  display: flex;
  overflow-x: auto;
  width: 100vw;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
#swipe-cont::-webkit-scrollbar {
  display: none;
}

#movie-cont {
  flex: 0 0 100vw;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  scroll-snap-align: center;
  .desc-cont {
    width: 50vw;
  }
}
.genre-cont {
  display: flex;
  gap: 10px;
  p {
    background-color: var(--gray-color);
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--bg-color);
  }
}

#swipe-no,
#swipe-yes {
  flex: 0 0 120px;
  height: 60%;
  border: none;
  font-size: 2rem;
  background: transparent;
  cursor: pointer;
}
#swipe-no {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.25), transparent);
}
#swipe-yes {
  background: linear-gradient(to left, rgba(0, 255, 0, 0.25), transparent);
}
.library-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 30vw));
  gap: 10px;
  width: 95vw;
}
.library-card {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 2px solid var(--gray-color);
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  img {
    width: 20vw;
    height: 30vw;
  }
  h4 {
    text-align: center;
    width: 20vw;
    font-size: clamp(0.2rem, 0.6rem, 2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.delete-library-card {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 28px;
  height: 28px;
  border: 2px solid white;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.delete-library-card:hover {
  cursor: pointer;
  filter: brightness(1.2);
  scale: 1.1;
  background-color: rgb(29, 29, 29);
}
/* Media queries */

@media (min-width: 600px) {
}
